<div id="page">
    <b1>Index</b1>
    <p>Welcome!</p>
    <button class="btn"
        hx-get="/page/about"
        hx-trigger="click"
        hx-target="#page"
    >
    about
    </button>
    <button class="btn"
        hx-get="/edit/log"
        hx-trigger="click"
        hx-target="#log-block"
    >edit log</button>
    <button class="btn"
        hx-get="/blurb/log"
        hx-trigger="click"
        hx-target="#log-block"
    >load log</button>
    <div id="log-block"></div>
</div>
<header>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</header>